<div class="container">
  <section>
    <h1>{{task.taskName}}</h1>
    <p>{{task.taskDesc}}</p>
    <form>
      <label for="completed" class="form-label">Completed</label>
      {{#if task.completed}}
        <input type="checkbox" id="completed" value="false" checked />
      {{else}}
        <input type="checkbox" id="completed" value="true" />
      {{/if}}
      {{!-- <button id="completedBtn">Submit</button> --}}
      <input type="hidden" id="projectId" value="{{task.projectId}}">
    </form>
    {{>taskNotes}}
    {{#if notes}}
      {{#each notes as |note|}}
        {{{note.note_text}}}
      {{/each}}
    {{/if}}
    <button class="btn btn-primary" onclick="goBack()">Back to project</button>
  </section>

</div>
<script>
function goBack() {
   window.history.back();
}
</script>
<script src="../js/updateTask.js"></script>